@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root{
    --firstColor: black;
    --secondColor: rgb(255, 183, 0);
    --threeColor: white;
    --fourColor: rgba(128, 128, 128, 0.057);
    --fiveColor: #343434d9;
}

body{
    background-color: var(--firstColor);
    font-family: 'Nunito', sans-serif;

}
.menu{
    opacity: 1
}

.menu i{
    color:white;
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
    display: none;
}


/*NavBar*/
#icon{
    width:50px;
}

.containerMenu{
    position:fixed;
    z-index: 100;
    top:0;
    background-color: rgba(0,0,0,0.8);
}

.navbar{
    display: inline;
    opacity: 0;
}

.listMenu li{
    list-style-type: none;
    display: inline;
    padding-left: 10px;
}

.listMenu .ind{
    padding: 10px;
    border: 1px solid var(--secondColor);
    color: var(--secondColor);
    border-radius: 15px;
}

.listMenu .imgNav a{
    padding-left: 50px;
    border-bottom:1px solid var(--secondColor);
    color: var(--secondColor);
    border-radius: 10px;
    
}
.listMenu a{
    text-decoration: none;
}


.listMenu .ind:hover{
    background-color: var(--secondColor);
    color: var(--firstColor);
    transition: background-color .5s ease-in-out;    
}

.listMenu .ind{
    animation-name:  mianimacion;
    animation-duration: 4s;
    animation-delay: 2s;
}

@keyframes mianimacion{
    0%{
        transform:translate3d(calc(208% *2),0,0)
    }
}




#imgNav{
 width:80px;
 border-radius: 10px;
 padding-right: 700px;
}

.navbarFloat{
    display:none;
}

.navbarFloat ul.listMenuFloat li{
    list-style-type: none;
    margin-top: 30px;
}
.navbarFloat a{
    text-decoration: none;
    color: var(--secondColor);
}

.navbarFloat a:hover{
    background-color: var(--firstColor);
    padding: 20px;
    border-radius: 15px;
}


/*Carrousel*/
.containerCarrousel {
    margin-top: 100px;
    justify-content: end;
    align-items: center;
}

.carrousel{
    margin-left:auto;
    margin-right: auto;
    align-items:center;
    justify-content: center;
    padding:30px;
    position:relative;
    max-width: 800px;
    max-height:500px;
    width:100%;
    border-radius: 10px;
    overflow:hidden;
}

.slide{
    display:flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation-name:  autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;   
}

.slide .item{
    position:relative;
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 105%;
}

.imgSmall{
    position:absolute;
    bottom:60px;
    left:0;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    width:100%;
}

.imgSmallItem{
    display:flex;
    flex-direction:column;
    align-items: center;
    border:2px solid white;
    width:16px;
    height:16px;
    border-radius: 5px;
    overflow:hidden;
    cursor:pointer;
    background-color:rgba(255,255,255,0.5);
    margin: 0 10px 0 0;
    text-align: center;
    transition:all 300ms;
}

.imgSmallItem:hover{
    transform:scale(2);
}

.imgSmallItem img{
    display:inline-block;
    max-width: none;
    height:100%;
    transform: scale(1);
    opacity:0;
    transition: all 300ms;
}

.imgSmallItem:hover img{
    opacity:1;
    transform:scale(1);
}

input[id="1"]:checked ~ .slide{
    animation:none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .imgSmall .imgSmallItem[for="1"]{
    background:white;
}

input[id="2"]:checked ~ .slide{
    animation:none;
    transform: translate3d(calc(-108% * 1), 0, 0);
}

input[id="2"]:checked ~ .imgSmall .imgSmallItem[for="2"]{
    background:white;
}

input[id="3"]:checked ~ .slide{
    animation:none;
    transform: translate3d(calc(-108% *2), 0, 0);
}

input[id="3"]:checked ~ .imgSmall .imgSmallItem[for="3"]{
    background:white;
}

@keyframes autoplay{
    33%{
        transform: translate3d(calc(-108% *0),0,0)
    }
    66%{
        transform:translate3d(calc(-108% *1),0,0)
    }
    100%{
        transform:translate3d(calc(-108% *2),0,0)
    }
}



.carrousel img{
    max-width: 100%;
}


/*About*/
.about{
    padding: 15px;
    margin: auto;
    border: 1px solid var(--secondColor);
    border-radius: 15px;
    background-color: var(--fourColor);
    margin: 10px 100px 100px 100px;
    box-shadow: 0px 7px 10px 8px black;
    text-align: center;

}

.about h1{
    color: var(--secondColor)
}
.content{
    text-align: center;
    
}

.about .content p{
    color: var(--threeColor);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


/*products*/
.products{
    padding:100px;
}

.btnAtras{
    display: none;
    background-color: var(--secondColor);
    cursor: pointer;
    padding:10px
}




.active{
    display: block;
}
.pro{
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.pro h2{
    color: var(--secondColor);
    margin-right: 1000px;
}

@keyframes animate {
    
    
}

/*cardas*/
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.card{
    margin:15px;
    width:200px;
    height:300px;
    border-radius: 5px;
    background: var(--i);
    background-size: cover;
    box-shadow: -3px 5px 5px var(--secondColor);
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: .8s;
}
.cards .btn{
    background-color: var(--secondColor);
    padding: 10px;
    border-radius:15px;
    color: var(--firstColor);
    font-size: 20px;
}
.content h3{
    color: rgba(255, 255,255, 0.8);
}

.card:hover .content{
    opacity: 1;
}

.apartados{
    position:absolute;
    top:0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.709);
    margin-top: 40px;
    text-align: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.visible{
    display: flex
}

.invisible{
    display: none;
}




/*Footer*/
.footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../images/background-footer.svg);
    background-size: cover;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    color:black;
    margin-top: 100px;
}

.box__footer{
 display: flex;
 flex-direction: column;
 padding: 40px;

}

.box__footer .logo img{
    width:100px;
    border-radius: 25px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top:20px;
    font-weight: 500;
    color: black;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: var(--fiveColor);
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: var(--firstColor);
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.5;
}


.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: var(--fiveColor);
}

.box__copyright hr{
    border: none;
    height:1px;
    background-color: var(--fiveColor);
}

/*Media querys*/
@media (max-width:1074px){
    
    .menu i{
        display: block;
        position: fixed;
    }
    .navbar{
        display: none;
    }
    .navbarFloat{
        display: flex;
        border: 1px solid var(--secondColor);
        width: 200px;
        top: 0;
        left: 0;
        background-color: var(--fiveColor);
        height: 100%;
        transform: translateX(-20px,);
        padding: 30px;
        opacity: 0.9;
        position: absolute;
        transform: translateX(-300px);
        transition: transform 0.5s ease-in-out;
    }

    .show{
        transform: translateX(-15px);
        position: fixed;
        z-index: 100;
    }

    .navbar ul.listMenu li{
        padding:20px;
        font-size:12px;
    }

    .containerCarrousel{
        margin-top: 50px;
        margin-bottom: 50px;
    }

}

@media (max-width: 700px){

    .products{
        background-color: var(--firstColor);
        border: none;
        text-align: center;
        box-shadow: 1px 1ox var(--secondColor);
        align-items: center;
        padding:10px
    }
    .navbarFloat li{
        width:170px
    }
    .cards{
        text-align: center;
        box-shadow: 1px 1px 15px var(--secondColor);
    }

    .containerCarrousel{
        
        margin-bottom: 50px;
    }
    .carrousel{
        max-width: 400px;
        max-height:500px;
    }

    
}